*{box-sizing: border-box;
margin: 0%;
padding: 0%;
font-family: Arial, Helvetica, sans-serif;
}
.first{
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/87a1d9d8-a21d-4109-ba3a-c10d9055f5cf/da15bb84-a1f7-4e25-af24-6c8e8ce9db64/VN-vi-20220307-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    position: relative;
    top: 0%;
    background-size: 100%;
    height: 680px;
    border-bottom: 8px solid rgb(53, 53, 53);
}
.first::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(0, 0, 0, 0.6);
    }
.second{
    z-index: 2;
    position: relative;
    text-align: center;
    padding-top: 150px;
    overflow:hidden;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
form{
    margin-top: 25px;
}
input[type=text] {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 35%;
    padding: 20px 20px;
}
input[id=buttn]{
    background-color: red;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 10%;
    font-size: 20px;
    font-weight: 700px;
    border: rgb(167, 4, 4);
    padding: 18.5px 15px;
    cursor: pointer;
}
h1{
    font-size: 50px;
}
h2{
    padding-top: 20px;
    padding-bottom: 25px;
    font-size: 25px;
}
h3{
    font-size: 17px;
    word-spacing: 1px;
}
.five{ z-index: 2;
    position: relative;
    margin-left: 77%;
    padding-top: 25px;
}
#ngonngu{
    width: 110px;
    height: 40px;
    border-radius: 5px;
    background-color: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border-color: white;
}
#DN{
    margin-left: 20px;
    width: 110px;
    height: 40px;
    border-radius: 4px;
    background-color: rgb(207, 3, 3);
    color: white;
    border: rgb(209, 0, 0);
    cursor: pointer;
    font-weight: 25px;
    font-size: 15px;
}
.third{
    background-image: url(https://assets.nflxext.com/ffe/siteui/acquisition/ab36101/nmhp/vn.jpg);
    background-position: top 80px right 80px;
    margin-top: 109px;
    background-color: black;
    color: white;
    position: relative;
    top: 0%;
    background-size: 40%;
    height: 600px;
    border-bottom: 8px solid rgb(53, 53, 53);
    background-repeat: no-repeat;
}
.third h1{
    padding-left: 100px;
    padding-top: 80px;
    font-size: 50px;
}
.third h2{
    padding-left: 100px;
    font-size: 25px;
}
#Tai{
    margin-top: 20px;
    margin-left: 100px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 27px;    
}
.six{
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: black;
    margin-top: 105px;
    height: 900px;
    border-bottom: 8px solid rgb(53, 53, 53);
}
ul{justify-content: center;
    list-style-type: none;
}
.six h1{
    margin-bottom: 30px;
}
.six p {
    margin-top: 30px;
    margin-bottom: 30px;
}
.seven{
    padding-top: 50px;
    padding-left: 200px;
    background-color: black;
    height: 400px;
    color: rgb(150, 147, 147);
}
table{
    width: 90%;
    padding-top: 30px;
}
td{ cursor: pointer;
    height: 30px;
    font-size: 15px;
}
.nine{margin-top: 20px;
    margin-bottom: 20px;
    color: rgba(83, 82, 82, 0.6);
}
button{
    margin-top: 10px;
    color: white;
    font-size: 20px;
    text-align: left;
    padding: 20px;
    width: 60%;
    background-color: rgb(71, 70, 70);
}

